<div class="conrainer pt-4">
    <div class="row">
       <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Ajouter employée : </h3>
                    <div class="d-flex mt-4">
                        <button class="btn btn-dark" type="button" routerLink="/app-list-employees">Lister Employées </button>
                    </div>
                    <form class="mt-5">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="FirstName">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="LastName">
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                <input type="text" class="form-control form-control-lg" placeholder="age">
                            </div>
                            <div class="col mt-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Salaire">
                            </div>
                        </div>
                    </form>
                    <div class="mt-3">
                        <button type="text" class="btn btn-secondary btn-lg" style="margin-right:10px;">Annuler</button>
                        <button type="submit" class="btn btn-dark btn-lg">Ajouter</button>
                    </div>
                    
                </div>
            </div>
       </div>
    </div>
</div>